@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    margin: 0;
    padding: 0;
    background-color: #F5F8FF;
}
/* share styles */
.dark-black{
    color: #000000;
}
.light-black{
    color: rgba(0, 0, 0, 0.5);
}
.orange{
    color: #E95A08;
}
.display-flex{
    display: flex;
}
.width{
    max-width: 1140px;
    margin: 0 auto;
}
.primary-btn{
    background-color: #E95A08;
    max-width: 270px;
    padding: 19px 80px;
    border: none;
    color: white;
    font-size: 600;
    font-size: 1rem;
    
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}




/* nav styles */
.navber{
    align-items: center;
    justify-content: space-between;
}
.nav-item{
    list-style: none;
    margin-left: 48px;

}
.nav-link{
    text-decoration: none;
    color: #8987A1;
    font-size: 1rem;
}
#home{
    color: #252432;
}
#Cart{
    color: #000000;
}


.nav-icon{
    max-width: 135px;
}
.shopping-car-icon{
    margin-left: 48px;
}
#cart{
    text-decoration: none;
    color: white;
}
/* hero related style */
.hero{
    
    margin-top: 108px;
}
.hero-title{
    font-size: 4rem;
    font-weight: bold;
    max-width: 570px;
}
.hero-description{
    font-size: 1.4rem;
    font-weight: 500;
}
/* plant section style */
.plant-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    

}
.plant{
    text-align: center;
    margin: 0 126px;

}
.plant-title{
    margin-top: 225px;
    font-size: 3.2rem;
    font-weight: bold;
}
.plant-description{
    font-size: 1.4rem;
}
.simple-flower{
    width:270px ;
    height: 480px;
    justify-content: center;
    text-align: center;
}
.flower-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: #111111;
    margin-bottom: 10px;
    margin-top: 20px;


}
.used-number{
    font-size: 1.4rem;
    font-weight: bold;
    color: #111111;
    margin-bottom: 15px;
    margin-top: 15px;

}
/* plant lover section styles */
.star-logo{
    
    max-width: 283px;
    max-height: 286px;
    margin-top:-130px;
    margin-left: -250px;
}
    
.flower-lover{
    
    justify-content: space-between;
    gap: 60px;
    margin-top: 210px;

} 
.flower-title{
    
    font-size: 3.12rem;
    font-weight: bold;
    margin-top: 10px;

}
.flower-description{
 font-size: 1.4rem;   
}
.flower-deatels{
    margin-top: -150px;
}
/* deals related style */
.deal-container{
    text-align: center;
}
.deal-title{
    font-size: 3.1rem;
    font-weight: bold;
}
.deal-description{
    font-size: 1.4rem;
}
/* card */
.left-img{
   border-radius: 14px;
}
.right-img{
    border-radius: 22px;
}
.deals-card{
    gap: 20px;
}


/* footer related style */
footer{
    max-width: 1440px;
    margin: 0 auto;
}
.subscribe-section{
    background-image: url(/assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: white;
    margin-top: 120px;
}
.Subscribe-title{
    font-size: 3.1rem;
    font-weight: bold;

}
.subscribe-form{
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}
.subscribe-form input[type="email"] {
    padding: 15px;
    width: 70%;
    border: none;
    outline: none;
    font-size: 1rem;
}
.subscribe-form button {
    padding: 15px 25px;
    border: none;
    background-color: #f4511e;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    
}
/* footer style*/
.footer{
    max-width: 1140;
    margin: 0 auto;
}
.footer-link{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    
}
.footer-link a{
    text-decoration: none;
    color: #6B7280;
}
.footer-container{
    justify-content: space-around;
    margin: 50px 160px;
}
.footer-brand{
    max-width: 350px;
}
.footer-description{
    font-size: 1.4rem;
}
.footer-social{
    display: flex;
    
    gap: 24px;
}




/* media related style */
@media screen and (max-width:576px) {
    .navber, 
    .footer-social,
    .nav-link{
        flex-direction: row;
    }
    .item{
        display: none;
    }
    .flower-lover,
    
    .footer-container
    {
        flex-direction: column;
    }
    .star-logo{
        display: none;
    }
    .hero{
        flex-direction: column-reverse;
    }
    .hero-container
    
    {
        justify-items: center;

    }
    .hero-img{
        width: 100%;
    }

    /* grid related style */
    .plant-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .plant-container{
        justify-items: center;
        gap: 10px;
    }
    

    /* footer */
    .footer-link{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-link{
        gap: 10px;
    }
    .footer-container{
        gap: 20px;
    }
    .deals-card{
        width: 100%;
    }

}